@model List<string>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Cars List</h1>
    @foreach (var car in Model)
    {
        <h3>@car</h3>
    }
</body>
</html>
